@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100;200;300;400;500;600;700;800&display=swap');


:root {
    --cor-1: #5005F2;
    --cor-2: #5C73F2;
    --cor-3: #6D99F2;
    --cor-4: #80C7F2;
    --cor-5: #99E2F2;
    --fonte-padrao: 'Playpen Sans', cursive;

}

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: white;
    font-family: var(--fonte-padrao);
    padding: 10px;

}

header h1 {

    color: black;
    font-size: 2em;
    text-align: center;
}


nav a {
    display: inline-block;
    text-decoration: none;
    color: black;
    margin: 0px 30px ;
    font-size: 1.1em;
    font-weight: bolder;
}

main h1 {
    padding: 30px;
    text-align: center;
    color: white;
}

main img {
    padding: 30px;
}

main p {
    display: inline-block;
    color: white;
}

main h2 {
    color: white;
    text-align: center;
    padding: 10px;
}

body {
    background-color: #4183D9;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed ;
    font-family: var(--fonte-padrao);
}

footer p {
    text-align: center;
    background-color: white;
    color: black;
    font-weight: bolder;
    font-size: 1em;
    padding: 10px;

    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}