@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


:root {
    --cor-1: #5005F2;
    --cor-2: #5C73F2;
    --cor-3: #6D99F2;
    --cor-4: #80C7F2;
    --cor-5: #99E2F2;
    --fonte-padrao:Pacifico, cursive;

}

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: black;
    font-family: var(--fonte-padrao);
    padding: 10px;
    border-radius: 0px 0px 20px 20px;
}

header h1 {

    color: white;
    font-size: 2em;
    text-align: center;
    margin: 10px;
}

header nav {
    margin-top: 6px;
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: white;
    margin: 10px 30px ;
    font-size: 1.3em;

}

main h1 {
    padding: 30px;
    text-align: center;
}

main img {
    display: block;
    padding: 20px;
    margin: auto;
    padding-bottom: 30px;
    
}

body {
    background-image: url(https://wallpapers.com/images/hd/white-textured-paper-439vozmsl9bybc8a.jpg) ;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed ;
    font-family: var(--fonte-padrao);

}

footer p {
    text-align: center;
    background-color: black;
    color: white;
    font-size: 1em;
    padding: 10px;
    border-radius: 20px 20px 0px 0px;
}